<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.csm.straining.dataaccess.mapper.article.ArticleCusMapper" >
 	<update id="incrReadCount" parameterType="Long">
		update
		tb_article set readCount = readCount + 1
		where id = #{articleID}
	</update>
	
	<update id="incrLikeCount" parameterType="Long">
		update
		tb_article set likeCount = likeCount + 1
		where id = #{articleID}
	</update>
	
	<update id="incrDislikeCount" parameterType="Long">
		update
		tb_article set dislikeCount = dislikeCount + 1
		where id = #{articleID}
	</update>
	
	<update id="incrCommentCount" parameterType="Long">
		update
		tb_article set commentCount = commentCount + 1
		where id = #{articleID}
	</update>
	
	<update id="descCommentCount" parameterType="Long">
		update
		tb_article set commentCount = commentCount - 1
		where id = #{articleID} and commentCount > 0
	</update>
	
</mapper>